@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-base-100 text-base-800;
  }

  html,
  body {
    @apply h-full;
  }

  .site-container {
    display: grid;
    grid-template-columns: 400px 1fr;
    height: 100%;
  }

  .site-header {
    @apply pt-8 pl-8 text-base;

    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
  }

  .site-main {
    grid-column: 2;
  }
}

/* Custom rich text */
@layer base {
  .rich-text {
    @apply text-left text-lg;

    > * {
      @apply mb-8;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply bg-gradient-to-r from-primary-900 to-primary-700 bg-clip-text font-bold text-transparent text-xl;
    }

    p {
      a {
        @apply border-b-2 border-transparent bg-gradient-to-r from-primary-900 to-primary-700 bg-clip-text font-medium text-transparent transition hover:border-primary-500;
      }

      b,
      strong {
        @apply font-medium;
      }

      code {
        @apply rounded bg-base-200 p-1 font-mono tracking-wider text-base-600 text-base;
      }
    }

    ol,
    ul {
      @apply ml-6;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    pre {
      @apply overflow-x-auto rounded bg-base-700 p-4 font-mono text-base-200 text-base;

      &::-webkit-scrollbar {
        @apply h-2 w-2;
      }

      &::-webkit-scrollbar-track {
      }

      &::-webkit-scrollbar-thumb {
        @apply rounded bg-base-400;
      }
    }
  }
}

@layer components {
  .twitter-tweet-wrapper {
    @apply w-full;

    .twitter-tweet {
      @apply mx-auto;
    }

    &[data-loaded='false'] {
      height: 0;
      visibility: hidden;
    }

    &[data-loaded='true'] {
      height: auto;
      visibility: visible;
    }
  }
}
